* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 500px;
  width: 800px;
  background-color: bisque;
  border: solid;
  margin: 100px auto;
}

#container div {
  height: 100px;
  width: 100px;
  background-color: chocolate;
  border: solid;
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center;
}

#container :nth-child(1) {
  background-color: red;
}

#container :nth-child(2) {
  background-color: teal;

  /* position: relative; */
  /*  relative will change the position w.r.to its original position 
        It will not allow any other elements to occupy its place.
        It will float the element. */
  /* top: 100px; */

  /* position: absolute; */
  /* absolute will change the position w.r.to view port
        It will allow other elements to occupy its place.
        It will float the element. */
  /* top: 100px; */

  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

#container :nth-child(3) {
  background-color: darkgreen;
}

#container :nth-child(4) {
  background-color: brown;
}

#fixed_element {
  border: solid red;
  background-color: brown;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;

  position: fixed;
  bottom: 50px;
  right: 50px;
}

#main_nav_bar {
  border: solid;
  font-size: 30px;
  text-align: center;
  background-color: #fe5114;

  position: sticky;
  top: 0px;
}

#meeshoContainer {
  border: solid red;
  height: 60vh;
  width: 90vw;
  margin: 100px auto;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

#meeshoContainer .cards {
  border: solid blue;
  display: inline-block;
  margin: 50px auto;
  position: relative;
}

#meeshoContainer .cards .images {
  border: solid green;
  position: relative;
}

#meeshoContainer .cards .images p {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#index_example {
  height: 500px;
  width: 500px;
  border: solid red;
  margin: 100px auto;
  position: relative;
}

#index_example img[alt="image1"] {
  position: absolute;
  height: 300px;
  z-index: 10;
}

#index_example img[alt="image2"] {
  position: absolute;
  height: 300px;
}

#index_example img[alt="image3"] {
  position: absolute;
  height: 300px;
  z-index: 12;
}

#index_example img[alt="image4"] {
  position: absolute;
  height: 300px;
}
