* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
  height: 200px;
  width: 30vw;
  border: solid rebeccapurple;
  background-color: chocolate;
  margin: 200px auto;
  transform: translateX(200px);
  transform: translateY(200px);
  transform: translate(200px, 200px);
  transform: skewX(0deg);
  transform: skewY(0deg);
  transform: skew(0deg, 0deg);
  transform: scaleX(1);
  transform: rotate(45deg);
}

#box:hover {
  /* width: 300px; */
  transform: scaleX(1.5);
  transform: scaleY(1.5);
  transform: scale(1.5);
  transform: rotate(45deg);
}
